<div class="vertical-center">
  <div class="container">
    <div class="row">
        <h1 class="text-center text-primary">AAE</h1>
    </div>
    <br/>
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
        <div class="input-group">
          <input id="tbx_search" type="number" class="form-control" name="Search" placeholder="Search" [(ngModel)]='tbxvalue'>
          <span class="input-group-addon">
            <i class="glyphicon glyphicon-search"></i>
          </span>
        </div>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="text-center">
        <button type="button" class="btn btn-primary" [disabled]='btnstatus' (click)='searchClick()'>
          {{btnValue}}</button>
      </div>
    </div>
    <br/>
    <div class="row">
        <div *ngIf='isError' class="col-xs-6 col-xs-offset-3 alert alert-info alert-dismissable" >
            <a class="close" (click)='isError = false'>&times;</a>
            <strong>Info!</strong> {{statusmessage}}
        </div>
    </div>
  </div>
</div>