<br/>
<div class="container">
  <div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title pull-left">Doctor details</h4>
            <!-- <button class="btn btn-default pull-right" data-target="#docDetails" data-toggle="collapse">Expand</button> -->
            <i class="glyphicon glyphicon-circle-arrow-down pull-right" data-target="#docDetails" data-toggle="collapse"></i>
            <div class="clearfix"></div>
        </div>
        <div class="panel-body collapse" id="docDetails">
            <ul class="list-group">
              <li class="list-group-item">One</li>
              <li class="list-group-item">Two</li>
              <li class="list-group-item">Three</li>
            </ul>
        </div>
    </div>
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title pull-left">Hospital details</h3>
            <!-- <button class="btn btn-default pull-right" data-target="#hospDetails" data-toggle="collapse">Expand</button> -->
            <i class="glyphicon glyphicon-circle-arrow-down pull-right" data-target="#hospDetails" data-toggle="collapse"></i>
            <div class="clearfix"></div>
        </div>
        <div class="panel-body collapse" id="hospDetails">
          <ul class="list-group">
            <li class="list-group-item">One</li>
            <li class="list-group-item">Two</li>
            <li class="list-group-item">Three</li>
          </ul>
        </div>
    </div>

    <div class="panel panel-warning">
        <div class="panel-heading">
            <h3 class="panel-title pull-left">Appointment details</h3>
            <!-- <button class="btn btn-default pull-right" data-target="#hospDetails" data-toggle="collapse">Expand</button> -->
            <i class="glyphicon glyphicon-circle-arrow-down pull-right" data-target="#apptDetails" data-toggle="collapse"></i>
            <div class="clearfix"></div>
        </div>
        <div class="panel-body collapse" id="apptDetails">
          <ul class="list-group">
            <li class="list-group-item">One</li>
            <li class="list-group-item">Two</li>
            <li class="list-group-item">Three</li>
          </ul>
        </div>
    </div>
  </div>
</div>


