<footer class="navbar navbar-default navbar-fixed-bottom">
  <div>
    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modelRegister">
        <span class="glyphicon glyphicon-info-sign"></span>
      </button>

    <button type="button" class="btn btn-primary btn-sm muted pull-right">
      <span class="glyphicon glyphicon-log-out"></span>
    </button>
  </div>
</footer>

<div id="modelRegister" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-primary">{{modalHeader}}</h4>
            </div>
            <div class="modal-body">
            <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
                <!-- Indicators
                <ol class="carousel-indicators">
                  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                  <li data-target="#myCarousel" data-slide-to="1"></li>
                  <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol> -->
              
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <app-login [modalHeader]='modalHeader' (modalHeaderChange)='headerFromModal($event)'></app-login>
                    </div>

              
                    <div class="item">
                        <app-registration [modalHeader]='modalHeader' (modalHeaderChange)='headerFromModal($event)'></app-registration>
                    </div>
              
                    <div class="item">
                        <app-otp></app-otp>
                    </div>
                </div>
              </div>
          </div>
        </div>
    </div>
</div>



