<footer class="navbar navbar-default navbar-fixed-bottom">
  <div>
    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modelLogin">
        <span class="glyphicon glyphicon-info-sign"></span>
      </button>

    <button type="button" class="btn btn-primary btn-sm muted pull-right">
      <span class="glyphicon glyphicon-log-out"></span>
    </button>
  </div>
</footer>

<div id="modelLogin" class="modal fade">
  <div class="modal-dialog">

      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title text-primary">Login</h4>
        </div>
        <div class="modal-body">
            <form name="formLogin" (ngSubmit)="l.form.valid && login()" #l="ngForm" novalidate>
                <div class="form-group" [ngClass]="{ 'has-error': l.submitted && !phone.valid }">
                    <label for="phone">Phone</label>
                    <input type="text" class="form-control" name="phone" [(ngModel)]="loginModel.phone" #phone="ngModel" required />
                    <div *ngIf="l.submitted && !phone.valid" class="help-block">Phone number is required</div>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error': l.submitted && !password.valid }">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" [(ngModel)]="loginModel.password" #password="ngModel" required />
                    <div *ngIf="l.submitted && !password.valid" class="help-block">Password is required</div>
                </div>
                <div class="form-group">
                    <button [disabled]="loading" class="btn btn-primary">Login</button>
                    <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                    <a data-toggle="modal" data-target="#modelRegister" class="btn btn-link" data-dismiss="modal">Register</a>
                    <button type="button" class="btn btn-primary pull-right" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
      </div>
  </div>
</div>

<div id="modelRegister" class="modal fade" role="dialog">
    <div class="modal-dialog">
  
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title text-primary">Register</h4>
          </div>
          <div class="modal-body">
              <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
                  <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                      <label for="username">Name</label>
                      <input type="text" class="form-control" name="username" [(ngModel)]="registerModel.username" #username="ngModel" required />
                      <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
                  </div>
                  <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !phone.valid }">
                      <label for="phone">Phone</label>
                      <input type="text" class="form-control" name="phone" [(ngModel)]="registerModel.phone" #phone="ngModel" required />
                      <div *ngIf="f.submitted && !phone.valid" class="help-block">Phone number is required</div>
                  </div>
                  <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                      <label for="password">Password</label>
                      <input type="password" class="form-control" name="password" [(ngModel)]="registerModel.password" #password="ngModel" required />
                      <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
                  </div>
                  <div class="form-group">
                      <button [disabled]="loading" class="btn btn-primary">Register</button>
                      <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                      <button type="button" class="btn btn-primary pull-right" data-dismiss="modal">Cancel</button>
                  </div>
              </form>
          </div>
        </div>
    </div>
  </div>

