<footer class="navbar navbar-default navbar-fixed-bottom">
    <div class="container footer" style="padding-left: 0%">
        <div class="row">
            <div class="col-xs-2">
                <a class="btn btn-link btn-default"><strong>Help</strong></a>
            </div>
            <div *ngIf='loginStatus == "Sign In"' class="col-xs-2 pull-right" style="margin-right: 7%">
                <a class="btn btn-link btn-default" data-toggle="modal" data-target="#modelRegister"><strong>Sign In</strong></a>
            </div>

            <div *ngIf='loginStatus == "Logout"' class="col-xs-2 pull-right" style="margin-right: 7%">
                <a class="btn btn-link btn-default" (click)='logout()'><strong>Logout</strong></a>
            </div>
        </div>
    </div>
</footer>

<div id="modelRegister" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-primary">{{modalHeader}}</h4>
            </div>
            <div class="modal-body">
            <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <app-login [modalHeader]='modalHeader' [loginStatus]='loginStatus' (modalHeaderChange)='headerFromModal($event)' (loginStatuChange)='loginStatus = $event'></app-login>
                    </div>

              
                    <div class="item">
                        <app-registration [modalHeader]='modalHeader' (modalHeaderChange)='headerFromModal($event)'></app-registration>
                    </div>
              
                    <div class="item">
                        <app-otp></app-otp>
                    </div>
                </div>
              </div>
          </div>
        </div>
    </div>
</div>



